*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    padding: 10px;
    background-color:rgb(52,162,116);
    height: 150px;
}

.logo_container{
    float: left;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.logo_name{
    margin-top:20px ;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Helvetica Neue', sans-serif;
}
.logo{
    margin-left: 0;
    margin-top: 0;
}


.logo:hover
{
    cursor: pointer;
}

.login_container
{
    float:right;
}

.login_container input{
    height: 30px;
    padding: 4px;
    width: 150px;
    font-size: 14px;
    border: none;
}

.login_container button{
    height: 30px;
    font-size: 14px;
    padding: 6px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
}

.login_container button:hover{
    background-color: rgb(136, 136, 226);
}

.navbar{
    overflow: hidden;
    background-color: #333;
}

.navbar a{
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 12px;
    color:white;
    font-size: 18px;
}

.navbar a:hover{
    color: black;
    background-color: #ddd;
}

.row{
    display: grid;
    grid-template-columns: 28% 72%;
}

.side{
    background-color: 	#f2ebf0;
    padding: 20px;
}

.main{
    background-color: white;
    margin-left: 5px;
}

/* Trong ham main */
.empty_room{
    display: block;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding: 10px;
    background-color:#034F84;
    max-width: 70%;
}

.output_data{
    display: grid;
    grid-template-columns: 70% 30%;
    float: left;
    margin: 20px;
}

.col_image{
    align-items: center;
}
.col_detail{
    margin: 5px 20px;
    font-size: 20px;
}


.footer{
    padding: 20px;
    text-align: center;
    background-color: rgb(228, 200, 148);
    display: grid;
    grid-template-columns: 40% 25% 35%;
}

.about, .plus, .contact, .copyright{
    width: 100%;
    border: none 2px black;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer li{
    margin: 10px 0;
    list-style-type: none;
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .row{
        grid-template-columns: auto;
    }

    .footer{
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 400px) {
    .navbar a{
        float: none;
        width: 100%;
    }
}